/Library
/obj
/ProjectSettings
/Temp
/Assembly-CSharp.csproj
/Assembly-CSharp.csproj.user
/*.sln
/.vs/UnityBehaviourInject/v14
/*.csproj
/.vs/UnityBehaviourInject/v15/.suo
/.idea
/.vs
/Assets/Plugins/Editor/JetBrains
/Assets/Plugins/Editor/JetBrains.meta
